#rules {
    min-height: 100vh;
    padding-top: 3rem;
  }
  .rules-main-container{
    padding : 1rem;
    margin : 1rem;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content:center;
  }
  .rules-tabgroup-container{
    margin-bottom:0.5rem;
  }
  
  .rules-component{
    display:flex;
    height: 100%;
    background-color: rgb(var(--home-color));
  }
  .rules-information-container{
    max-width: 800px;
    width : 100%;
  }
  .rules-component-datakey{
    display : flex;
    min-height : 50px;
    min-width : 100px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding : 1rem;
    border : 2.5px solid rgb(var(--green-color));
  }
  .rules-component-datakeycontent{
    border : 2.5px solid rgb(var(--green-color));
    width : 100%;
    display:flex;
    align-items:center;
    font-weight : bold;
    padding: 0.3rem;
  }
  .rules-agree-check{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
  }
